@font-face {
  font-family: Alagard;
  src: url("../assets/fonts/alagard.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*------------- Home ---------------*/
.home-container {
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Alagard, serif;
}

.logo-container {
  text-align: center;
}

.logo-container > img {
  height: 28rem;
}

.logo-container > h1 {
  font-size: 6rem;
}

#play-inactive {
  height: 4rem;
}

#play-active {
  display: none; /* Will be toggled when button is being pressed */
  height: 4rem;
  margin-top: 0.25rem;
}
